body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 66%, rgba(252,176,69,1) 100%);
}

#countdownTimer{
    color: #fff;
    font-size: 5rem;
    font-weight: 800;
    font-family: sans-serif
}